@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



:root {

    --me-text-color: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #eeeeee;
    --gray-300: #e0e0e0;
    --gray-400: #bdbdbd;
    --gray-500: #9e9e9e;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-850: #404040;
    --gray-800: #424242;
    --bg-color: #212121;
    --dark-gray-background: #121212;

    --black2: #000001;
    --black: #000000;
    --white: #ffffff;

    --red-900: #7b0000;

    --fonte: 'Courier Prime', monospace;

    --fonte2: 'Montserrat', sans-serif;
}

.dark-mode:root {
    --gray-850: #e0e0e0;
    --black: #ffffff;
    --bg-color: #eeeeee;
    --me-text-color: #212121;
    --dark-gray-background: #e0e0e0;
    --gray-400: #212121;
}


body {
    background-color: var(--bg-color);
    font-family: var(--fonte);
    padding-top: 4rem;
}

header {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}

.nav-bar {
    height: 3rem;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.main-title{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.main-title h1 {
    color: var(--gray-700);
    font-size: 1rem;
    height: 0.9rem;
}

.main-title h1:hover {

    color: var(--gray-500);
    cursor: pointer;

}

.nav-bar div {
    height: 1.5rem;
}

.nav-bar div:not(#mobile-menu-icon) {
    display: flex;
}
.nav-container {

    display: flex;
    gap: 2rem;
}

.container-dark-nav{
    display: flex;
    gap: 6rem;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

ul .nav-item {
    list-style: none;
    height: 0.9rem;
}

.nav-list {
    
    display: flex;
    align-items: center;
    gap: 5rem;
    display: none;
}

.nav-item {

    color: var(--gray-700);
}

/* Animação do hover */

.nav-item a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--gray-500);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;

}

.nav-item a:hover::after{
    color: var(--gray-500);
    width: 100%;
}

.icon-list {

    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: var(--gray-700);
    position: relative;
}



.icon-list button {
    color: var(--gray-700);
    background-color: transparent;
    border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1;
    cursor: pointer;
    color: var(--gray-500);
}

#mobile-nav-list {
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 100%;
    background-color: var(--black);
    transition: .6s ease-in-out;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
}

.mobile-menu-list.active #mobile-nav-list {
    visibility: visible;
    height: 225.6px;
}

.mobile-menu-list ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.mobile-menu-list .nav-item {

    display: block;
    padding: 1.2rem;
}

#mobile-menu-icon{
    cursor: pointer;
    height: 24px;
}

.line:hover {

    background-color: var(--gray-500);
}

#mobile-menu-icon div {
    width: 20px;
    height: 2px;
    background: var(--gray-700);
    margin: 3px 0 5px 0;
    transition: 0.5s;
}

.mobile-nav-item {
    opacity: 0;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#mobile-menu-icon.active .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#mobile-menu-icon.active .line2 {
    opacity: 0;
}

#mobile-menu-icon.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Animação de Scroll */

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}

.hiden {
    visibility: hidden;
}

.box-contato a {
    text-decoration: none;
  }