 
.container-projetos {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12rem 0 8rem 0;
}

.projetos-title {

    margin: 0 0 3rem 0;
}

.projetos-title h3{
    font-size: 20px;
    color: var(--gray-50);
    font-weight: 400;
}

.top-projects {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12rem 0 8rem 0;
}
.box-projeto{
    background-color: var(--black);
    box-shadow: 0 4px 4px;
    border-radius: 4px;
    margin: 3rem 0;
    padding: .5rem .5rem;
    width: 311px;
}

.box-projeto .image-projeto {
    height: 10rem;
    background: var(--gray-850);
    z-index: 1;
    margin: 1rem;
}

.box-projeto .text-projeto {
    margin: 0 1rem;
}

.box-projeto h4 {
    color: var(--gray-400);
    font-size: 1rem;
    margin: 1rem;
}

.box-projeto p {
    color: var(--gray-400);
    font-size: .75rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.swiper {
    margin: 8rem
}