@media screen and (min-width: 768px) {

    /* main {
        margin: 0 1.5rem 0 1.5rem;
    } */
    /* .nav-bar{
         padding: 0 1.5rem;
    } */

    .nav-list {
        display: none;
    }
    
}

@media screen and (min-width: 1024px) {

    .nav-list {
        display: flex;
    }

    .nav-bar {
        height: 4rem;
    }

    #mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .container-home {
        margin-top: 32px;
    }

    /* .top-icons {
        margin-right: 64px; 
    } */

    .top-icons img{
        height: 48px;
    }
    .top-icons a img{
        width: 48px;
    }
    .card img {
        width: 48px;
        height: 48px;
    }

    .me {
        flex-direction: row;
    }

    .me img {
        height: 396px;
        width: 308px;
    }

    .me-text p:not(.loading){
        font-size: 24px;
    }
    .me-dot {
        height: 10px;
        width: 10px;
        transform: translateY(10px)
    }
    
    .loader {
        height: 90px;
        width: 90px;
        border: 8px solid var(--dark-gray-background);
        border-top-color: var(--gray-700);
    }

    .loading {
        font-size: 16px;
    }

    .section-resume {
        width: 60%;
    }

    .section-resume-text p {
        font-size: 20px;
    }

    .footer-text {
        margin: 0 1.5rem;
    }
}

@media screen and (min-width: 1280px) {

    .nav-bar{
         padding: 0 4.75rem;
    }

    .top-icons {
        margin: 0 76px;
    }

    .main-title h1{
        font-size: 16px;
        /* transform: translateY(-2px) */
    }

    .nav-item a{
        font-size: 16px;
        /* transform: translateY(-1px) */
    }

    .me {
        margin: 0 32px;
    }

    .me img {
        height: 415.8px;
        width: 323.4px;
    }

    .me-text p:not(.loading){
        font-size: 32px;
    }

    .title h2 {
        font-size: 30px;
    }

    .section-resume-text p {
        font-size: 24px;
    }

    .contato-info p {
        font-size: 20px;
    }

    .box-cv a {
        font-size: 20px;
    }

    .me-dot {
        height: 12px;
        width: 12px;
        transform: translateY(13px)
    }
}

@media screen and (min-width: 1366px) {

    .nav-bar{
         padding: 0 4.75rem;
    }
    
    .me img {
        height: 436.6px;
        width: 339.5px;
    }

    .box p {
        font-size: 16px;
    }
    
    .box h4 {
        font-size: 20px;
    }

    .projeto-description h4 {
        font-size: 20px;
    }

    .projeto-description p{
        font-size: 16px;
    }

    .top-icons img, .top-icons a {
        height: 56px;
    }
    .section-resume {
        width: 50%;
    }
    .section-resume p {
        font-size: 26px;
    }

    .top-icons img {
        height: 56px;

    }
    .top-icons a img{
        width: 56px;
    }

    .card img {
        width: 56px;
        height: 56px;
    }

    .footer-text {
        margin: 0 4.75rem;
    }
    
}

@media screen and (min-width: 1440px) {

    .nav-bar{
         padding: 0 10rem;
    }
    
    .top-icons {
        margin: 0 160px;
    }

    .me {
        margin: 0 160px;
    }

    .top-icons img {
        height: 64px;
    }
    .top-icons a img{
        width: 64px;
    }

    .card img {
        width: 64px;
        height: 64px;
    }

    .footer-text {
        margin: 0 10rem;
    }
}

@media screen and (min-width: 1920px) {

    .nav-bar{
         padding: 0 24.75rem;
    }
    
    .top-icons {
        margin: 0 396px;
    } 

    .me {
        margin: 0 396px;
    }

    .section-resume {
        width: 40%;
    }

    .section-resume p {
        font-size: 28px;
    }

    .footer-text {
        margin: 0 24.75rem;
    }
}