@import url(home.css);

.container-sobre-mim {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO E LINHA */

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 64px;
    
}

.title {
    margin-top: 64px;
}

.title h2{
    color: var(--me-text-color);
}

.title-line {
    width: 100%;
    background-color: var(--me-text-color);
    height: 2px;
}

/* BOX COM O TEXTO */

.section-resume {
    margin: 1rem;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0 4px 4px var(--black);
    width: 20rem;
    display: flex;
    justify-content: center;
}

.section-resume-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    gap: 8px;
}

.section-resume-text p{
    color: var(--me-text-color);
    text-align: justify;
    font-size: 14px;
}